<div class="form-group">
  <%= label :hook, "properties_token", "#{hook.class.human_attribute_name(:token)} *", class: "control-label" %>
  <%= text_field_tag "hook[properties][token]", hook.token, class: "form-control" %>
  <% if hook.errors.key?(:token) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:token).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= label :hook, "properties_room_id", "#{hook.class.human_attribute_name(:room_id)} *", class: "control-label" %>
  <%= text_field_tag "hook[properties][room_id]", hook.room_id, class: "form-control" %>
  <% if hook.errors.key?(:room_id) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:room_id).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
</div>
