<div class="form-group">
  <%= label :hook, "properties_teamname", "#{hook.class.human_attribute_name(:teamname)} *", class: "control-label" %>
  <%= text_field_tag "hook[properties][teamname]", hook.teamname, class: "form-control" %>
  <% if hook.errors.key?(:teamname) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:teamname).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= label :hook, "properties_integration_token", "#{hook.class.human_attribute_name(:integration_token)} *", class: "control-label" %>
  <%= text_field_tag "hook[properties][integration_token]", hook.integration_token, class: "form-control" %>
  <% if hook.errors.key?(:integration_token) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:integration_token).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= label :hook, "properties_username", "#{hook.class.human_attribute_name(:username)} *", class: "control-label" %>
  <%= text_field_tag "hook[properties][username]", hook.username, class: "form-control" %>
  <% if hook.errors.key?(:username) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:username).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= label :hook, "properties_icon_emoji", "#{hook.class.human_attribute_name(:icon_emoji)}", class: "control-label" %>
  <%= text_field_tag "hook[properties][icon_emoji]", hook.icon_emoji, class: "form-control" %>
  <% if hook.errors.key?(:icon_emoji) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:icon_emoji).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="help-block">
    <%= I18n.t("qiita.team.services.templates.slack_v2.icon_emoji_help_block_html") %>
  </div>
</div>
