<div class="form-group">
  <%= label :hook, "properties_webhook_url", "#{hook.class.human_attribute_name(:webhook_url)} *", class: "control-label" %>
  <%= text_field_tag "hook[properties][webhook_url]", hook.webhook_url, class: "form-control" %>
  <% if hook.errors.key?(:webhook_url) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:webhook_url).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= label :hook, "properties_username", "#{hook.class.human_attribute_name(:username)} *", class: "control-label" %>
  <%= text_field_tag "hook[properties][username]", hook.username, class: "form-control" %>
  <% if hook.errors.key?(:username) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:username).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= label :hook, "properties_icon_emoji", "#{hook.class.human_attribute_name(:icon_emoji)}", class: "control-label" %>
  <%= text_field_tag "hook[properties][icon_emoji]", hook.icon_emoji, class: "form-control" %>
  <% if hook.errors.key?(:icon_emoji) %>
    <br/>
    <div class="alert alert-warning">
      <% hook.errors.full_messages_for(:icon_emoji).each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="help-block">
    <%= I18n.t("qiita.team.services.templates.slack_v2.icon_emoji_help_block_html") %>
  </div>
</div>
